body *{
    font-family: "Sriracha", cursive;
    line-height: 1.5;

}

h1 {
    font-size: 40px;
}

h1, h2{
   font-weight: 900;
}

body {
    background-image: url('../data/images/image.png');
    background-size: cover;
    background-attachment: fixed;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
    opacity: 0.95;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}
